# Ignorar el entorno virtual
venv/

# Ignorar archivos del sistema
.DS_Store
Thumbs.db

# Ignorar configuraciones de IDEs
.vscode/
.idea/

# Ignorar archivos de caché de Python
__pycache__/
*.pyc
*.pyo
